<h1>Вход на сайт</h1>
<form type='submit' action='/login' method='POST'>
<div>
  <label for='text'>Электронная почта:
  <input name='email' type='text' placeholder='email'>
</label>
</div>
<div>
  <label for='password'>Пароль:
  <input name='password' type='password' placeholder='password'>
</label>
</div>
  <button>Войти</button>
</form>
<div><a href=''>Регистрация</a></div>
{{!-- ДОПИСАТЬ HREF --}}

