<h1>Registration</h1>
<div id = 'main_box'>
<form id ='event'type='submit' action='/registration' method='POST'>
<div>
  <label for='userName'>Enter your name:
  <input id='userName' name='userName' type='text' placeholder='Name'>
</label>
</div>
<div>
  <label for='email'>Enter your e-main:
  <input id="email" name='email' type='text' placeholder='E-mail'>
</label>
</div>
<div>
  <label for='password'>Password:
  <input id="password" name='password' type='password' placeholder='Password'>
</label>
</div>
  <button id="btn">Registration</button>
</form>
<div>Have account?</div>
<div><a href=''>Log-In!</a></div>
</div>

